<div id="<%= dom_id flat %>" class="card p-4">
<%#= image_tag(flat.picture_url, class:"image") %>
<%#= cl_image_tag(flat.photo.key, height: 300, width: 400, crop: :fill) %>
<%= cl_image_tag(flat.photo.key) %>
  <p>
    <strong>Name:</strong>
    <%= flat.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= flat.address %>
  </p>
  <p>   <%= link_to "Show this flat", flat %>
</p>

</div>
