<div id="<%= dom_id flat %>" class="card p-4">
<%= image_tag(flat.picture_url, class:"image") %>
  <p>
    <strong>Name:</strong>
    <%= flat.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= flat.address %>
  </p>
  <p>   <%= link_to "Show this flat", flat, class: "btn btn-flat" %>
</p>

</div>
