<p style="color: green"><%= notice %></p>

<h1>Flats</h1>
<div class="d-flex align-items-start justify-content-between mb-4">
  <%= image_tag("github_octocat.png", heigh: "100" ) %>
  <%= link_to "New flat", new_flat_path, class: "btn btn-flat" %>
</div>

<div id="flats" class="cards">
  <% @flats.each do |flat| %>
  <div class="card p-4">
    <%= render flat %>
    <%= link_to "Show this flat", flat %>
  </div>
  <% end %>
</div>
